  <div class="foot clear-float">
    <div class="container ">
      <a href="#" class="">item</a>
      <a href="#" class="">item</a>
      <a href="#" class="">item</a>
      <a href="#" class="">item</a>
      <div>dajdd dandsd @asdnnd sandna dsand NN </div>
    </div>
  </div>
</body>
</html>