<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/gwc.css">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="/css/customer.css">
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/gwc.js"></script>
  <title>香菇街---你的剁手街</title>
</head>
<body>
  <div class="top-nav">
    <div class="container clear-float">
      <div class="fl">
        <a class="item" href="/customerPage">首页</a>
      </div>
      <div class="fr">
        <a class="item" href="/customerOrder">我的订单</a>
        <a class="item" href="/customerCart">我的购物车</a>
        <a class="item" href="/customerLogin">登录</a>
        <a class="item" href="/customerReg">注册</a>
      </div>
    </div>
  </div>